.message_panel {
    position: absolute;
    width: 450px;
    height: 420px;
    max-height: 420px;
    overflow-y: auto;
    z-index: 1;
    right: 50px;
    top: 70px;
    overflow-x: hidden;
}

.messages {
    display: flex;
    margin-bottom: 8px;
}

.messages:hover {
    cursor: pointer;
}

.img_wrap {
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.img_wrap img {
    width: 85px;
    height: 85px;
    object-fit: cover;
}

.message_icon_background p {
    position: absolute;
    top: 70px;
    left: 75px;
    padding: 3px 5px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(130, 224, 63);
}

.message_text {
    text-align: justify;
    max-width: 280px;
    hyphens: auto;
    margin-left: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.message_text h5 {
    margin-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.message_text small {
    color: silver;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.message_text span {
    float: right;
    font-size: 18px;
    color: gray;
    margin-top: 5px;
}

.zero_message {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bolder;
    padding: 5px;
}

.message_seen{
    color: black;
    font-weight: bolder;

}

.message {
    color: rgb(126, 115, 115);
}